body {
  background-color: #404040;
}
.circle {
  font-weight:bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #DC3D24;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  padding-left: -20px;
  text-align: center;
  color: #FFF;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  transform:rotate(-11deg);
  -ms-transform:rotate(-11deg); /* IE 9 */
  -webkit-transform:rotate(-11deg); /* Opera, Chrome, and Safari */
}

.navbar {
  border-radius: 0;
  border: none;
}

.navbar-default {
  background-color: #343434;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #DC3D24;
}